@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TT-Norms-Regular/TTNorms-Regular\ \(1\).eot');
    src: url('../fonts/TT-Norms-Regular/TTNorms-Regular\ \(1\).eot?#iefix') format('embedded-opentype'),
         url('../fonts/TT-Norms-Regular/TTNorms-Regular\ \(1\).ttf') format('truetype'),
         url('../fonts/TT-Norms-Regular/TTNorms-Regular\ \(1\).woff') format('woff'),
         url('../fonts/TT-Norms-Regular/TTNorms-Regular\ \(1\).woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TT-Norms-Medium/TTNorms-Medium\ \(1\).eot');
    src: url('../fonts/TT-Norms-Medium/TTNorms-Medium\ \(1\).eot?#iefix') format('embedded-opentype'),
         url('../fonts/TT-Norms-Medium/TTNorms-Medium\ \(1\).ttf') format('truetype'),
         url('../fonts/TT-Norms-Medium/TTNorms-Medium\ \(1\).woff') format('woff'),
         url('../fonts/TT-Norms-Medium/TTNorms-Medium\ \(1\).woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TT-Norms-Bold/TTNorms-Bold\ \(2\).eot');
    src: url('../fonts/TT-Norms-Bold/TTNorms-Bold\ \(2\).eot?#iefix') format('embedded-opentype'),
         url('../fonts/TT-Norms-Bold/TTNorms-Bold\ \(2\).ttf') format('truetype'),
         url('../fonts/TT-Norms-Bold/TTNorms-Bold\ \(2\).woff') format('woff'),
         url('../fonts/TT-Norms-Bold/TTNorms-Bold\ \(2\).woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

